[Unit]
Description=Meu Script Python Automático
After=network.target

[Service]
User=root
WorkingDirectory=/root/area_processamento
# Aponte diretamente para o executável python dentro do venv
ExecStart=/root/area_processamento/venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target
